name: Individual LaVitrine Pipeline

on:
  workflow_dispatch:
    inputs:
      graph_url:
        description: 'Graph URL'
        type: string
        required: true
        default: 'http://kg.artsdata.ca/culture-creates/huginn/derived-grandtheatre-qc-ca'
      artifact:
        description: 'Artifact'
        type: string
        required: true
        default: 'grandtheatre-qc-ca'
  workflow_call:
    inputs:
      graph_url:
        description: 'Graph URL'
        type: string
        required: true
      artifact:
        description: 'Artifact'
        type: string
        required: true
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      PUBLISHER:
        required: true
        
jobs:
  fetch-transform-data:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
        ruby-version: 3.1

    - name: Run Main Script
      run: |
        mkdir output ; cd src ; bundle exec ruby lavitrine_pipeline.rb ${{ inputs.graph_url }} ${{ inputs.artifact }}

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.artifact }}
        path: ./output
        retention-days: 1
      
  s3:
    needs: fetch-transform-data
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ca-central-1 
      WEBHOSTING_BUCKET_NAME: huginn-data
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.set-version.outputs.VERSION }}
      DOWNLOAD_URL: ${{ steps.set-download-url.outputs.DOWNLOAD_URL }}
    steps:
    - name: Set current date as version
      id: set-version  # this is used on variable path
      run: echo "VERSION=$(date +'%Y-%m-%dT%H-%M-%S')" >> $GITHUB_OUTPUT
    - name: Get artifacts
      uses: actions/download-artifact@v4
      with:
        name: ${{ inputs.artifact }}
        path: ./output
    - name: Upload to S3
      run: aws s3 cp ./output/ s3://${{ env.WEBHOSTING_BUCKET_NAME }}/lavitrine/${{ steps.set-version.outputs.VERSION }}/ --acl public-read --recursive
    - name: Set downloadUrl
      id: set-download-url
      run: echo "DOWNLOAD_URL=https://${{ env.WEBHOSTING_BUCKET_NAME }}.s3.${{ env.AWS_REGION }}.amazonaws.com/lavitrine/${{ steps.set-version.outputs.VERSION }}/${{ inputs.artifact }}.json" >> $GITHUB_OUTPUT
     
  register-on-artsdata-databus:
    needs: s3
    runs-on: ubuntu-latest
    env:
      VERSION: ${{ needs.s3.outputs.VERSION }}
      DOWNLOAD_URL: ${{ needs.s3.outputs.DOWNLOAD_URL }}
      ARTIFACT: ${{ inputs.artifact }}
      GROUP: ${{ github.event.repository.name }}
      PUBLISHER: ${{ secrets.PUBLISHER_URI_GREGORY }}
    steps:
      - name: Register dump on Artsdata Databus
        run: |
          curl \
          -H 'Content-Type: application/json' \
          -X POST http://api.artsdata.ca/databus/  \
          --data '{ "artifact": "derived-grandtheatre-qc-ca",
                    "comment": "Dump of ${{ env.ARTIFACT }} using Github workflows",
                    "publisher": "${{ env.PUBLISHER }}",
                    "group": "${{ env.GROUP }}",
                    "version": "${{ env.VERSION }}",
                    "downloadUrl": "${{ env.DOWNLOAD_URL }}",
                    "downloadFile": "${{ env.ARTIFACT }}.json",
                    "register_only": "true"
                  }'   